

.navbar {
  background-color: #191919;
  padding: 1rem;
  width: 100%;
}

.navbar a {
  margin-right: 1rem;
  color: rgb(255, 255, 255);
  font-size: 20px;

}

.navbar a:hover {
  color: blue;
}
ul{
      display: flex;
  flex-direction: row;
  justify-content: center;

}
a {
  text-decoration: none; /* removes underline */
}
